@import 'partials/setup';
@import 'partials/mixins';
@import 'partials/variables';

body {
	color: white;
	font-family: "haasGrotesk", sans-serif;
	font-size: 16px;
	background-image: url("../../assets/LargeBackground_min.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	width: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	margin: 30px;
}

.heroContainer {
	width: 100%;
	height: 100vh;
	text-align: left;
	margin: 4vh 10px 0 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: 115px;

	@include bp(med) {
		min-height: 736px;
		padding-bottom: 30px;
	}
}

img.heroLogo {
	margin-right: auto;
	width: 115px;
	height: auto;
	margin-bottom: 14px;

	@include bp(lrg) {
		width: 154px;
	}
}

.heroHeader {
	width: 50%;

	@include bp(med) {
		width: 100%;
	}
}

h1 {
	margin: 0;
	font-size: 88px;
	line-height: 86px;
	color: white;
	margin-bottom: 40px;

	@include bp(lrg) {
		font-size: 120px;
		line-height: 114px;
	}
}

.heroTextContainer {
	width: 100%;
	display: flex;

	@include bp(med) {
		flex-direction: column;
	}
}

.heroTextWrapper {
	width: 50%;

	@include bp(med) {
		width: 100%;
		margin-bottom: 30px;
	}
}

.heroText {
	font-size: 19.2px;
	line-height: 23px;
	color: white;

	&.line4 {
		color: $fontColorAccent;
	}

	@include bp(lrg) {
		font-size: 35.2px;
		line-height: 40px;
	}
}

.scrollIndicatorWrapper {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: flex-end;

	@include bp(med) {
		width: 100%;
		margin-top: 24px;
	}
}

.scrollIndicator {
	background-image: url("../../assets/scroll_indicator.png");
	background-repeat: no-repeat;
	background-position: center;
	transition: all 0.3s ease;
	width: 32px;
	height: 32px;

	&:hover {
		background-image: url("../../assets/scroll_indicator_hover.png");
	}
}

a {
	text-decoration: none;

	&:link,
	&:visited,
	&:focus,
	&:active {
		border: none;
		outline: none;
	}
}

.cardContainer {
	width: 100%;
	margin-top: 10px;
	display: flex;
	justify-content: flex-end;

	@include bp(lrg) {
		margin-top: 60px;
	}
}

.cardWrapper {
	width: 55%;

	@include bp(med) {
		width: 70%;
	}

	@include bp(sml) {
		width: 100%;
	}
}

.card {
	width: 100%;
	padding: 24px 20px;
	margin: 24px 0;
}

.card1 {
	background-color: $cardRed;
}

.card2 {
	background-color: $cardPurple;
}

.card3 {
	background-color: $cardCoolGrey;
}

.card4 {
	background-color: $cardDarkGrey;
}

h2 {
	margin: 0 0 16px 0;
	font-size: 44px;
	line-height: 40px;
	color: $fontColorDark;
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

.par {
	font-size: 16px;
	line-height: 19.2px;
	margin-top: 10px;
}

.footnote {
	font-size: 6.4px;
	margin-top: 10px;
}

.card3 .cardHeader {
	color: $fontColorMint;
}

.logoGrid {
	display: flex;
	flex-wrap: wrap;
	margin-top: 12px;
}

.topLogoRow {
	display: flex;
	width: 100%;
	flex-wrap: nowrap;

	@include bp(xsml) {
		flex-wrap: wrap;
	}
}

.logosTopLeft {
	display: flex;
	width: 50%;

	@include bp(xsml) {
		width: 100%;
		padding: 14px 14px;
	}
}

.logosTopRight {
	display: flex;
	width: 50%;

	@include bp(xsml) {
		width: 100%;
		padding: 14px 14px;
	}
}

.bottomLogoRow {
	display: flex;
	width: 100%;
	flex-wrap: nowrap;

	@include bp(xsml) {
		flex-wrap: wrap;
	}
}

.logosBottomLeft {
	display: flex;
	width: 50%;

	@include bp(xsml) {
		width: 100%;
		padding: 14px 14px;
	}
}

.logosBottomRight {
	display: flex;
	width: 50%;

	@include bp(xsml) {
		width: 100%;
		padding: 14px 14px;
	}
}

.agentProvocateur,
.moetChandon,
.pilsnerUrquell,
.thermador,
.belvedere,
.grolsch,
.peroni,
.veuve {
	width: 50%;
	padding: 10px 14px;
	height: 60px;
}

.card4 {
	display: flex;

	@include bp(sml) {
		flex-direction: column;
	}
}

.contactInfo {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.card4 .contactUs {
	margin-bottom: 12px;
}

.contactUs span {
	color: $fontColorAccent;
}

.contactEmail a {
	color: $fontColorMain;
	cursor: pointer;

	&:link {
		color: $fontColorMain;
	}

	&:visited {
		color: $fontColorMain;
	}

	&:hover {
		color: $fontColorAccent;
	}

	&:active {
		color: $fontColorAccent;
		opacity: 0.7;
	}
}

.wordmark {
	width: fit-content;
	margin-left: auto;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.wordmark img {
	width: 62%;
	display: block;
	margin-bottom: -14px;

	@include bp(sml) {
		margin-top: 24px;
	}
}
