@import 'partials/setup';
@import 'partials/mixins';
@import 'partials/variables';

body {
	color: white;
	font-family: sans-serif;
	font-size: 100%;
	background-image: url("../../assets/LargeBackground.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	width: 100%;
}

.wrapper {
	height: 100%;
	display: flex;
	justify-content: space-between;
	margin: 25px;

	@include bp(sml) {
		flex-direction: column;
	}
}

.heroContainer {
	width: calc(50% - 60px);
	text-align: left;
	margin-right: 10px;
}

h1 {
	margin: 0;
	font-size: 5.5em;
	color: white;
}

.cardContainer {
	width: calc(50% - 60px);
}

.card {
	width: 100%;
	padding: 20px;
	margin: 12px 0;
}

.card1 {
	background-color: $cardRed;
}

.card2 {
	background-color: $cardPurple;
}

.card3 {
	background-color: $cardCoolGrey;
}

.card4 {
	background-color: $cardDarkGrey;
}

h2 {
	margin: 0;
}