@import 'partials/setup';
@import 'partials/mixins';
@import 'partials/variables';

body {
	color: white;
	font-family: "haasGrotesk", sans-serif;
	font-size: 100%;
	background-image: url("../../assets/LargeBackground.jpg");
	////////////////// resize bg image - file size too large
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	width: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	margin: 30px;
}

.heroContainer {
	width: 100%;
	height: 90vh;
	text-align: left;
	margin: 4vh 10px 0 0;
}

.heroHeader {
	width: 50%;

	@include bp(med) {
		width: 100%;
	}
}

h1 {
	margin: 0;
	font-size: 5.5em;
	line-height: 0.98em;
	color: white;
	margin-bottom: 50px;
}

.heroTextContainer {
	width: 100%;
	display: flex;

	@include bp(med) {
		flex-direction: column;
	}
}

.heroTextWrapper {
	width: 50%;

	@include bp(med) {
		width: 100%;
	}
}

.heroText {
	font-size: 1.2em;
	line-height: 1.2em;
	color: white;

	&.line4 {
		color: $fontColorAccent;
	}
}

.scrollIndicatorWrapper {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: flex-end;

	@include bp(med) {
		width: 100%;
		margin-top: 24px;
	}
}

.scrollIndicator {
	background-image: url("../../assets/scroll_indicator.png");
	background-repeat: no-repeat;
	background-position: center;
	transition: all 0.3s ease;
	width: 32px;
	height: 32px;

	&:hover {
		background-image: url("../../assets/scroll_indicator_hover.png");
	}
}

.cardContainer {
	width: 100%;
	margin-top: 10px;
	display: flex;
	justify-content: flex-end;
}

.cardWrapper {
	width: 55%;

	@include bp(med) {
		width: 100%;
	}
}

.card {
	width: 100%;
	padding: 24px 20px;
	margin: 24px 0;
}

.card1 {
	background-color: $cardRed;
}

.card2 {
	background-color: $cardPurple;
}

.card3 {
	background-color: $cardCoolGrey;
}

.card4 {
	background-color: $cardDarkGrey;
}

h2 {
	margin: 0 0 16px 0;
	font-size: 2.75em;
	line-height: 0.9em;
	color: $fontColorDark;
}

.par {
	font-size: 1em;
	line-height: 1.2em;
	margin-top: 10px;
}

.footnote {
	font-size: 0.4em;
	margin-top: 10px;
}

.card3 .cardHeader {
	color: $fontColorMint;
}

.logos {
	display: flex;
	justify-content: center;
	margin-top: 24px;
}

.logos img {
	height: auto;
	max-width: 100%;
	object-fit: contain;
}

.card4 {
	display: flex;

	@include bp(sml) {
		flex-direction: column;
	}
}

.contactInfo {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.card4 .contactUs {
	margin-bottom: 12px;
}

.contactUs span {
	color: $fontColorAccent;
}

.wordmark {
	background-image: url("../../assets/pokethebear.png");
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: contain;
	width: 50%;

	@include bp(sml) {
		width: 100%;
		height: 92px;
		margin-top: 24px;
	}
}