$cardRed: rgba(219,66,82, 0.9);
$cardPurple: rgba(176,38,169, 0.9);
$cardCoolGrey: rgba(218,217,215, 0.9);
$cardDarkGrey: rgba(37,55,70, 0.9);

$fontPrimary: sans-serif;



$fontColorMain: white;
$fontColorAccent: rgb(231,62,81);
$fontColorDark: rgb(38,55,70);
$fontColorMint: rgb(0,193,140);

$sml: ( max: 540px );
$med: ( max: 940px );
// $lrg: ( max: 750px );


